# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Ignore Play! working directory #
db
eclipse
log
logs
precompiled
tmp
test-result
eclipse
server.pid

# Ignore Java 
.classpath
*.class
/target
/project/target
/public/lookImages
/.classpath
/.settings/org.scala-ide.sdt.core.prefs

/project/target/scala-2.9.1/sbt-0.11.3/cache/compile/compile
/project/target/scala-2.9.1/sbt-0.11.3/cache/update/inputs
/project/target/scala-2.9.1/sbt-0.11.3/cache/update/output
/project/target/streams/$global/compilers/$global/out
/project/target/streams/$global/ivy-configuration/$global/out
/project/target/streams/$global/update/$global/out
/project/target/streams/compile/compile/$global/out
/RUNNING_PID