.float-right {
	float : right;
}
.normal-navbar{
	padding : 10px;
}

.centered {
	margin-left : auto;
	margin-right : auto;
}

.container-margin {
	margin-top : 90px;
}

.footer {
	margin-top : 150px;
	padding-top : 20px;
	padding-bottom : 20px;
	border-top-style : solid;
	border-top-width : 2px;
	border-top-color : whiteSmoke;
	background-color : #FAFAFA;
}
.transparent {
	display : none;
	width : 100%;
	height : 100%;
	z-index : 10000;
	position : fixed;
	top : 0px;
	background: rgba(0,0,0,0.5);
    background: transparent !ie;
    zoom:1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f990000, endColorstr=#7f990000);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f990000, endColorstr=#7f990000)";
}