.float-right {
	float : right;
}
.normal-navbar{
	padding : 10px;
}

.centered {
	margin-left : auto;
	margin-right : auto;
}

.container-margin {
	margin-top : 40px;
}

.footer {
	margin-top : 150px;
	padding-top : 20px;
	padding-bottom : 20px;
	border-top-style : solid;
	border-top-width : 2px;
	border-top-color : whiteSmoke;
	background-color : #FAFAFA;
}
