#dashboard-name {
	margin-top : 40px;
	height : 120px;
	background: #1e5799;
	background: -moz-linear-gradient(left, #1e5799 0%, #2989d8 50%, #7db9e8 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(100%,#7db9e8));
	background: -webkit-linear-gradient(left, #1e5799 0%,#2989d8 50%,#7db9e8 100%);
	background: -o-linear-gradient(left, #1e5799 0%,#2989d8 50%,#7db9e8 100%);
	background: -ms-linear-gradient(left, #1e5799 0%,#2989d8 50%,#7db9e8 100%);
	background: linear-gradient(to right, #1e5799 0%,#2989d8 50%,#7db9e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 );
}
#dashboard-text {
	margin-top : 40px;
	color : #fff;
	font-size : 50px;
}
#container {
	margin-top : 30px;
}
#shotChart {	
	margin-bottom : 80px; 
}

#likeChart {
	margin-top : 20px;
}

.like-well {
	height : 430px;
	padding-top : 20px;
	border-top : 3px solid #E1E1E8;
	
}

td A:link {
	text-decoration: none;
	color : #000;
}
td A:visited {
	text-decoration: none;
	color : #000;	
}
td A:active {
	text-decoration: none;
	color : #000;
}
td A:hover {
	text-decoration: underline;
	color: #000;
}


.table-padding {
	padding-top : 50px;
}
.table-margin {
	margin-right : 30px;
}

