#shotChart {
	margin-top : 100px;
	margin-bottom : 80px; 
}

#likeChart {
	margin-top : 20px;
}

.container-margin {
	margin-top : 40px;
}

.like-well {
	height : 430px;
	padding-top : 20px;
	border-top : 3px solid #E1E1E8;
	
}
.inputbox {
	width : 350px;
	margin-top : 7px;
	
}

.centered {
	margin-left : auto;
	margin-right : auto;
}

.table-padding {
	padding-top : 50px;
}
.table-margin {
	margin-right : 30px;
}

