#menu-nav {
	padding-top : 8px;
	padding-bottom : 8px;
	padding-left : 3px;
	padding-right : 3px;
}
#menu-nav h3 {
	padding-left : 10px;
}
#menu-search {
	margin-top : 10px;
	padding-top : 8px;
	paading-bottom : 8px;
}

.products-container {
	display : inline-block;
	margin-right : 10px;
}
.products-img {
	width : 200px;
}
.products-label {
	text-align : center;
	
}
label {
	font-size : 20px;
}



#loading-container {
	top:50%;
	left:40%;	
	width : 500px;
	height : 100px;
	background : #fff;
	margin-top:-120px; 
	margin-left : auto;
	margin-right : auto;
	position:absolute;
	padding-left : 10px;
	padding-right : 10px;
	-moz-border-radius: 15px;
	border-radius: 5px;	
}