#size-info {
	border-bottom : 1px solid #DDD;	
}
#other-looks {
	margin-top : 20px;
}

/*
#contents-container{
	border-left: 2px solid;
	border-right: 2px solid;
}

#menu{
	width : 910px;
	height : 100%;
}
*/