@(title :String)(username :String)(mostShootingLookList :List[Look])(mostLikedUserLookList: List[UserLook])(shotTotal :Int)
@importCss = {
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
}

@main(title)(username)(importCss) {
<div class="container container-margin">
	<div class="row">

<div id="shotChart">
	<h2>Most shootings</h2>
	<div class="like-well">
		<div class="span8">
			<div id="shotPie">
				@* 파이그래프 들어가는 곳 *@
			</div>
		</div>
		<div class="span4 table-padding">
			<div class="accordion table-margin">
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" href="#mostShot">
							가장 많이 찍힌 상품 Table <i class="icon-chevron-down pull-right"></i>
						</a>
					</div>
					<div id="mostShot" class="accordion-body collapse in">
						<div class="accordion-inner">
							<table class="table">
								<thead>
									<tr>
										<th>#</th>
										<th>Product Name</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
								@for(i <- 0 to 4) {
									<tr>
										<th>@(i+1)</th>
										<th>@mostShootingLookList(i).getName()</th>
										<th>@mostShootingLookList(i).getShotCount()</th>
									</tr>
								}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="likeChart">
	<h2>Most Liked</h2>
	<div class="like-well">
		<div class="span8">
			<div id="likePie">
			@* 파이그래프 들어가는 곳 *@
			</div>
		</div>
		<div class="span4 table-padding">
			<div class="accordion table-margin">
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" href="#mostLike">
							가장 많이 라이크된 상품 Table <i class="icon-chevron-down pull-right"></i>
						</a>
					</div>
					<div id="mostLike" class="accordion-body collapse in">
						<div class="accordion-inner">
							<table class="table">
								<thead>
									<tr>
										<th>#</th>
										<th>Product Name</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									@for(i <- 0 to 4 ){
									<tr>
										<th>@(i+1)</th>
										<th>@mostLikedUserLookList(i).getLook().getName()</th>
										<th>@mostLikedUserLookList(i).getLikeCount()</th>
									</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	        </div>	        
        </div>

<script src="@routes.Assets.at("javascripts/index.js")"></script>
<script>
$(document).ready(function() {
		var shotChart;
    	
    	Highcharts.getOptions().colors = $.map(Highcharts.getOptions().colors, function(color) {
		    return {
		        radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
		        stops: [
		            [0, color],
		            [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
		        ]
		    };
		});
    	
        shotChart = new Highcharts.Chart({
            chart: {
                renderTo: 'shotPie',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: ''
            },
            tooltip: {
        	    pointFormat: '{series.name}: <b>{point.percentage}% ( {point.y} )</b>',
            	percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ Math.round(this.percentage) +' %';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Most Shootings',
                data: [
					{
    					name: '@mostShootingLookList(0).getName()',
    					y: @(mostShootingLookList(0).getShotCount()),
    					sliced: true,
					    selected: true
					},
                    ['@mostShootingLookList(1).getName()',   @mostShootingLookList(1).getShotCount()],
                    ['@mostShootingLookList(2).getName()',   @mostShootingLookList(2).getShotCount()],                    
                    ['@mostShootingLookList(3).getName()',   @mostShootingLookList(3).getShotCount()],
                    ['@mostShootingLookList(4).getName()',   @mostShootingLookList(4).getShotCount()],                    
                ]
            }]
        });
        
		var likeChart;
    	
        likeChart = new Highcharts.Chart({
            chart: {
                renderTo: 'likePie',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: ''
            },
            tooltip: {
        	    pointFormat: '{series.name}: <b>{point.percentage}% ( {point.y} )</b>',
            	percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ Math.round(this.percentage) +' %';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Most Liked',
                data: [
					{
    					name: '@mostLikedUserLookList(0).getLook().getName()',
    					y: @mostLikedUserLookList(0).getLikeCount(),
    					sliced: true,
					    selected: true
					},
                    ['@mostLikedUserLookList(1).getLook().getName()',   @mostLikedUserLookList(1).getLikeCount()],
                    ['@mostLikedUserLookList(2).getLook().getName()',   @mostLikedUserLookList(2).getLikeCount()],                    
                    ['@mostLikedUserLookList(3).getLook().getName()',   @mostLikedUserLookList(3).getLikeCount()],
                    ['@mostLikedUserLookList(4).getLook().getName()',   @mostLikedUserLookList(4).getLikeCount()],                    
                ]
            }]
        });
});
</script>

}