@(title :String)(username :String)(mostShootingLookList :List[Look])(mostLikedUserLookList: List[UserLook])(shotTotal :Int)
@importCss = {
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
}

@main(title)(username)(importCss) {
<header id="dashboard-name">
	<div class="container">
		<h1 id="dashboard-text"> Dashboard </h1>
	</div>
</header>
<div id="container" class="container">
	<div class="row">
		<div id="shotChart">
			<h2>Most shootings</h2>
			<div class="like-well">
				<div class="span8">
					<div id="shotPie">
						@* 파이그래프 들어가는 곳 *@
					</div>
				</div>
				<div class="span4 table-padding">
					<div class="accordion table-margin">
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" href="#mostShot">
									가장 많이 찍힌 상품 Table <i class="icon-chevron-down pull-right"></i>
								</a>
							</div>
							<div id="mostShot" class="accordion-body collapse in">
								<div class="accordion-inner">
									<table class="table">
										<thead>
											<tr>
												<th>#</th>
												<th>Product Name</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
										@for(i <- 0 to 4) {
											<tr>
												<td>@(i+1)</td>
												<td><a href="/dashboard/looks/@mostShootingLookList(i).getId()">@mostShootingLookList(i).getName()</a></td>
												<td>@mostShootingLookList(i).getShotCount()</td>
											</tr>
										}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="likeChart">
			<h2>Most Liked</h2>
			<div class="like-well">
				<div class="span8">
					<div id="likePie">
					@* 파이그래프 들어가는 곳 *@
					</div>
				</div>
				<div class="span4 table-padding">
					<div class="accordion table-margin">
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" href="#mostLike">
									가장 많이 라이크된 상품 Table <i class="icon-chevron-down pull-right"></i>
								</a>
							</div>
							<div id="mostLike" class="accordion-body collapse in">
								<div class="accordion-inner">
									<table class="table">
										<thead>
											<tr>
												<th>#</th>
												<th>Product Name</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											@for(i <- 0 to 4 ){
											<tr>
												<td>@(i+1)</td>
												<td><a href="/dashboard/looks/@mostLikedUserLookList(i).getLook().getId()">@mostLikedUserLookList(i).getLook().getName()</a></td>												
												<td>@mostLikedUserLookList(i).getLikeCount()</td>
											</tr>
											}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	        
</div>

<script src="@routes.Assets.at("javascripts/index.js")"></script>
<script>
function decodeEntity(s) {
	return $('<div/>').html(s).text();
}
$(document).ready(function() {
		var shotChart;
    	
    	Highcharts.getOptions().colors = $.map(Highcharts.getOptions().colors, function(color) {
		    return {
		        radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
		        stops: [
		            [0, color],
		            [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
		        ]
		    };
		});
    	
        shotChart = new Highcharts.Chart({
            chart: {
                renderTo: 'shotPie',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: ''
            },
            tooltip: {
        	    pointFormat: '{series.name}: <b>{point.percentage}% ( {point.y} )</b>',
            	percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ Math.round(this.percentage) +' %';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Most Shootings',
                data: [
					{
    					name: '<a href="/dashboard/looks/@mostShootingLookList(0).getId()">' + decodeEntity("@mostShootingLookList(0).getName()") + '</a>',
    					y: @(mostShootingLookList(0).getShotCount()),
    					sliced: true,
					    selected: true
					},
                    ['<a href="/dashboard/looks/@mostShootingLookList(1).getId()">' + decodeEntity("@mostShootingLookList(1).getName()") + '</a>',   @mostShootingLookList(1).getShotCount()],
                    ['<a href="/dashboard/looks/@mostShootingLookList(2).getId()">' + decodeEntity("@mostShootingLookList(2).getName()") + '</a>',   @mostShootingLookList(2).getShotCount()],                    
                    ['<a href="/dashboard/looks/@mostShootingLookList(3).getId()">' + decodeEntity("@mostShootingLookList(3).getName()") + '</a>',   @mostShootingLookList(3).getShotCount()],
                    ['<a href="/dashboard/looks/@mostShootingLookList(4).getId()">' + decodeEntity("@mostShootingLookList(4).getName()") + '</a>',   @mostShootingLookList(4).getShotCount()],                    
                ]
            }]
        });
        
		var likeChart;
    	
        likeChart = new Highcharts.Chart({
            chart: {
                renderTo: 'likePie',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: ''
            },
            tooltip: {
        	    pointFormat: '{series.name}: <b>{point.percentage}% ( {point.y} )</b>',
            	percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ Math.round(this.percentage) +' %';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Most Liked',
                data: [
					{
    					name: '<a href="/dashborad/looks/@mostLikedUserLookList(0).getLook().getId()">' + decodeEntity("@mostLikedUserLookList(0).getLook().getName()") + '</a>',
    					y: @mostLikedUserLookList(0).getLikeCount(),
    					sliced: true,
					    selected: true
					},					
					['<a href="/dashboard/looks/@mostLikedUserLookList(1).getLook().getId()">' + decodeEntity("@mostLikedUserLookList(1).getLook().getName()") + '</a>',   @mostLikedUserLookList(1).getLikeCount()],
					['<a href="/dashboard/looks/@mostLikedUserLookList(2).getLook().getId()">' + decodeEntity("@mostLikedUserLookList(2).getLook().getName()") + '</a>',   @mostLikedUserLookList(2).getLikeCount()],
					['<a href="/dashboard/looks/@mostLikedUserLookList(3).getLook().getId()">' + decodeEntity("@mostLikedUserLookList(3).getLook().getName()") + '</a>',   @mostLikedUserLookList(3).getLikeCount()],
					['<a href="/dashboard/looks/@mostLikedUserLookList(4).getLook().getId()">' + decodeEntity("@mostLikedUserLookList(4).getLook().getName()") + '</a>',   @mostLikedUserLookList(4).getLikeCount()],
                ]
            }]
        });
               
});
</script>

}