@(title :String)(username :String)(look :Look)
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/common.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/lookDetails.css")">        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap-responsive.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/highcharts.js")" type="text/javascript"></script>
    </head>
    <body>	
    	<div class="navbar navbar-fixed-top navbar-inverse">
    		<div class="navbar-inner">
    			<div class="container">				
   					<ul class="nav">
    					<li> <a href="/dashboard"> Home </a> </li>  						
  						<li class="active"> <a href="/dashboard/looks"> Product </a> </li>  						
    				</ul>
    				    
    				<ul class="nav pull-right">
    					<li class="normal-navbar">
	    					Welcome! @username 
    					</li>    					
    					<li>
	    					<a href="dashboard/logout">Logout</a>
    					</li>
 					</ul>
 				</div>
 			</div>
    	</div> 	    	
		<header id="product-name">
			<div class="container">
				<h1 id="product-text"> @look.getName() </h1>
			</div>
		</header>
    	<div class="container container-detail-margin">
    		<div class="row">
	        	<div>
					<div class="span3">
						<div id="menu-nav" class="well">
							<ul class="nav nav-list">
	  							<li class="nav-header">Product Info</li>
  								<li class="active"><a href="#">Image</a></li>
  								<li><a href="#">Description</a></li>
							</ul>
						</div>
					</div>
					<div class="span9">
					<section>
						<div class="page-header">
  							<h1>Product Image<small>상품의 이미지입니다.</small></h1>
						</div>
						<img src="@look.getImageUrl()" />
					</section>
					<section>					
						<div class="page-header">
  							<h1>Description<small>상품의 상세정보입니다.</small></h1>
						</div>						
						<div id="product-info">							
							<table id="detail-info" class="table table-bordered small-padding center">
								<thead>
									<tr>
										<td> info </td>
										<td> value </td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>이름</td>
										<td>@look.getName()</td>
									</tr>
									<tr>
										<td>시즌</td>
										<td id="season-value"></td>
									</tr>
									<tr>
										<td>상/하의</td>
										<td id="top-bottom-value"></td>
									</tr>
									<tr>
										<td>가격</td>
										<td>@look.getPrice()</td>
									</tr>
									<tr>
										<td>설명</td>
										<td>@look.getDescription</td>
									</tr>
								</tbody>
							</table>
						</div>
					</section>
					<section>
						<div class="page-header">
  							<h1>User Looks<small>이 상품을 입고 찍은 사진들입니다.</small></h1>
						</div>
						<ul class="thumbnails">
  							<li class="span4">
    							<a href="#" class="thumbnail">
      								<img src="http://placehold.it/260x180" alt="">
    							</a>
  							</li>
  							<li class="span4">
    							<a href="#" class="thumbnail">
      								<img src="http://placehold.it/260x180" alt="">
    							</a>
  							</li>
  							<li class="span4">
    							<a href="#" class="thumbnail">
      								<img src="http://placehold.it/260x180" alt="">
    							</a>
  							</li>
  							<li class="span4">
    							<a href="#" class="thumbnail">
      								<img src="http://placehold.it/260x180" alt="">
    							</a>
  							</li>
						</ul>
					</section>
					</div>
				</div>      	
	    	</div>	        
        </div>
        <footer class="footer">
        	<div class="container">
	        	test
	        </div>
	    </footer>
	  	<script src="@routes.Assets.at("javascripts/lookDetails.js")"> </script>
		<script> insertTableInfo({ season : @look.getSeason, topBottom : @look.getLookType })</script> 
    </body>
</html>