@(title :String)(username :String)(imgUrl :String)

@importCss = {
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/lookDetails.css")">
}
@main(title)(username)(importCss){	
	@*
		필요한 데이터.
		1. 이름 / 시즌 / 상/하의 / 가격 / 설명 정보 => 무엇으로 날아오던지간에. 한번에 날아올 예정.
		2. 이번주 촬영 횟수.
		3. 제품 이미지의 url
	*@
	<div>				
		<div class="span1"></div>
		<div class="span10">
			<h1> 상품정보 </h1>
			<div id="product-info" class="centered">
				<center>
				<img class=".images" src="@imgUrl" />
				<table class="table table-bordered">
					<thead>
						<tr>
							<td> info </td>
							<td> value </td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td> 이름 </td>
							<td>  </td>
						</tr>
						<tr>
							<td> 시즌 </td>
							<td>  </td>
						</tr>
						<tr>
							<td> 상/하의 </td>
							<td>  </td>
						</tr>
						<tr>
							<td> 가격 </td>
							<td>  </td>
						</tr>
						<tr>
							<td> 설명 </td>
							<td>  </td>
						</tr>
					</tbody>
				</table>
				</center>			
			</div>
			<div>
				<h1> 이번주 촬영 횟수 </h1>
				<div>	</div>
			</div>	
		</div>
		<div class="span1"></div>
	</div>
	
}