@(imageUrl: String)(lookId :Long)
<HTML>
	<head>
		<title> 내 이미지 보기 </title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
		<link rel="stylesheet" href="@routes.Assets.at("jquerymobile/for-spao.min.css")" />
		<link rel="stylesheet" href="@routes.Assets.at("jquerymobile/jquery.mobile.structure-1.2.0.css")" />
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/mobileCommon.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/mobileIndex.css")">        
        <script src="@routes.Assets.at("javascripts/jquery-1.8.2.min.js")"></script>
        <script src="@routes.Assets.at("jquerymobile/jquery.mobile-1.2.0.min.js")"></script>		
        <script src="@routes.Assets.at("javascripts/mobileIndex.js")"></script>        
	</head>
	<body>
		<div data-role="page" data-theme="a">
			<div>			
				<a href="/mobile/">
					<img src="@routes.Assets.at("/images/spao.png")">
				</a>
				<div id="logo-left-side">
				</div>
			</div>			
			<div data-role="header" data-position="inline">
				<h1> 내 이미지 보기 </h1>
			</div>
			<div data-role="content" data-theme="a">
				<img id="photo" src="@imageUrl">				
				<Button id="share"> 페이스북 공유 </Button>
				<a rel="external" href="/mobile/looks/@lookId"><Button color="green"> 다른 코디 보기 </Button></a>
			</div>
		</div>
		<form action="/mobile/facebook" method="POST">
			<input id="facebook-upload" name="facebook-uplaod" type="hidden"/>
		</form>
	</body>
</HTML>