@()
<HTML>
	<head>
		<title> 내 코디 보기 </title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
		<link rel="stylesheet" href="@routes.Assets.at("jquerymobile/for-spao.min.css")" />
		<link rel="stylesheet" href="@routes.Assets.at("jquerymobile/jquery.mobile.structure-1.2.0.css")" />
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/mobileCommon.css")">
        <script src="@routes.Assets.at("javascripts/jquery-1.8.2.min.js")"></script>
        <script src="@routes.Assets.at("jquerymobile/jquery.mobile-1.2.0.min.js")"></script>		
        <script src="@routes.Assets.at("javascripts/mobileMe.js")"></script>		
	</head>
	<body>	
		<div data-role="page" data-theme="a">
			<div>			
				<a href="/mobile/">
					<img src="@routes.Assets.at("/images/spao.png")">
				</a>
				<div id="logo-left-side">
				</div>
			</div>			
			<div data-role="header" data-position="inline">
				<a href="#" data-mini="true" data-icon="arrow-l" onclick='slider.prev();return false'>prev</a>
				<h1> 내 코디 보기 </h1>
				<a href="#" data-mini="true" data-theme="a" data-icon="arrow-r" onclick='slider.next();return false'>next</a>
			</div>
			<div data-role="content" data-theme="a">
			<div id="slider">
					<div>
						@*
						<div class="userLooks" data-matchId="@userLooks.get(0).getMatchUserLookId()" style='display:block'>
							<img src="@userLooks.get(0).getImageUrl()_noface">
						</div>
						 @for(i <- 1 to userLooks.size()-1){ 
						<div class="userLooks" data-matchId="@userLooks.get(i).getMatchUserLookId()" style='display:none'>
							<img src="@userLooks.get(i).getImageUrl()_noface">								
						</div>
						} *@	
					</div>
				</div>
				<div data-role="collapsible" data-theme="a" data-content-theme="a">					
					<h3> 코디한 상품</h3>
					@* <img id="co-product" src="@userLooks.get(0).getMatchUserLookId()"> *@
					<div id="co-product-name">
					</div>
				</div>
			</div>
		</div>
	</body>
	@* 수정해야한다. 이때 코디했던 상품으로 
	<script> $.ajax({	
		type : 'GET',
		url : '/api/looks/' + @userLooks.get(0).getMatchUserLookId(),
		dataType: 'json',
		success : function(obj) {
			$(obj).each(function(i, v) {
				if (typeof v.name === "undefined"){
					$('#co-product').hide();						
					$('#co-product-name').html("").append('<h3> 같이 코디된 상품이 없습니다. </h3>');
				}
				else if(v.code !== -4){					
					$('#co-product').attr('src', v.imageUrl);					
					$('#co-product-name').append('<h3>' + v.name + '</h3>');					
				}
				else if (v.code === -4){
					
				}				
			});
		},
		error : function() {
		}
	});
	</script>
	*@
</HTML>
